:root {
    --background: #AAA995;
    --black: #000000;
    --gray: #d8d8d8;
    --white: #fff;
}

* {
    padding: 0px;
    margin: 0px;
    border: none;
}



body {
 background-image: url(/assets/backgrounds/blue.png);
 background-repeat: no-repeat;
 background-size: cover;
    font-weight: 400;
    font-size: 16px;

    color: #000;


}

.wrapper {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.content {
    flex: 1 1 auto;
}


[class*="__container"] {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 15px;


}


.header {
    width: 100%;
    height: auto;
    margin-top: 42px;
    overflow-x: hidden;

}

.header__container {}

.header__navigation {}

.header__list {
    display: flex;
    column-gap: 48px;
}

.header__list__item,
.header__info__item {
    font-family: "NT Somic", sans-serif;
    cursor: pointer;

}

.header__list__item:hover {
    text-decoration: underline;
}

.header__info {
    max-width: 150px;
    font-family: "NT Somic", sans-serif;
}

.header__desctop {
    display: flex;

    justify-content: space-between;
    column-gap: 20px;
    align-items: center;
}

.header__mobile {

    display: none;

    justify-content: space-between;
    column-gap: 20px;
    align-items: center;
}

.burger {
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;

    height: 100%;
    border: none;
    position: relative;
    z-index: 12;
    cursor: pointer;
}

.burger__item {

    width: 30px;
    height: 2px;
    background-color: black;
    transition: 0.4s ease-in-out;
    margin-top: 10px;
}

.mobile-item {
    font-size: 32px;
}

.header__navigation__mobile {
    height: 100%;

    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;

    width: 100%;
    transform: translateX(-100%);
    transition: 0.4s ease-in-out;
 /*   background-color: gray;*/
 z-index: 1111;

 background-image: url(./assets/Frame\ 55.png);

   

 backdrop-filter: blur(40px) brightness(1.6);

box-shadow: inset 2px 0 1px 0 rgba(255, 255, 255, 0.25), inset -2px -2px 1px 0 rgba(0, 0, 0, 0.25);



    z-index: 111;
}

.active {
    transform: translateX(0);
}

.dark__background {
    
    transition: 0.4s ease-in-out;
    background-color: #000;
    width: 100%;
    height: 100%;
    z-index: 11;
    position:fixed;
    left: 0;
    top: 0;
    opacity: 0.5;
}
.background__closed {
    display: none;
    transition: 0.4s ease-in-out;
}
.header__list__mobile {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    object-fit: cover;
    z-index: -1;

}

@media screen and (max-width:480px) {
    .background {
        height: 1000px;
    }
}






.footer {
    background-color: var(--black);
 
  
 
}

.footer__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 40px 0;
    row-gap: 30px;
 
}

.footer__info {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 560px) {
    .footer__info {
        flex-direction: column-reverse;
    }

    .footer__block:nth-child(2) {
      order: 1
    }
}

.footer__block {
    display: flex;
    flex-direction: column;
}

.footer__block__list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.footer__block__item {

    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: var(--white);
    font-family: "Intro Friday", sans-serif;
    cursor: pointer;
}

.footer__card {
    height: 300px;
}

.line {
    background-color: var(--white);
    height: 2px;
    width: 100%;
}

.footer__copyright {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: var(--white);
    font-family: "Intro Friday", sans-serif;
}
.footer__image {
    margin: 0 auto;
    align-self: center;
}



@media screen and (max-width: 768px) {
    .header__desctop {
        display: none;
    }

    .header__mobile {
        display: flex;
    }
}


 


.title__wrapper  {
    position: relative;
    margin-bottom: 60px;
    margin-top: 157px;
    margin-left: 60px;

}
.contacts__title{
    font-weight: 400;
    font-size: 68px;
    text-align: left;
    color: var(--white);
    font-family: "Intro Friday", sans-serif;
    position: absolute;
    z-index: 111;
    left: -60px;
    bottom: 0;
    z-index: 1;
   /* position: relative;
   */
}
 
.title__image {
    max-width: 510px;
    width: 100%;
}



.content {
}
.contacts {
    margin-bottom: 120px;
}
.contacts__container {
}
 
 
 
.contacts__content {
    display: flex;
    column-gap: 58px;
    justify-content: space-between;
}

 
.contacts__list {
    display: flex;
    flex-direction: column;
    row-gap: 38px;
    
} 
.contacts__item__title {
    font-family: "Intro Friday", sans-serif;
    font-weight: 800;
font-size: 20px;
text-transform: uppercase;
color: var(--black);
}

 

.contacts__item__text {
    font-family: "Intro Friday", sans-serif;
    font-weight: 400;
font-size: 20px;
text-transform: uppercase;
color: var(--black);
}
.contacts__info {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.contacts__subtitle {
    font-family: "Intro Friday", sans-serif;
    font-weight: 700;
font-size: 20px;
text-transform: uppercase;
color: var(--black);
margin-top: 25px;
}
.contacts__networks {
    display: flex;
    column-gap: 17px;
}
.contacts__network {
}

.contacts__map {
    width: 100%;
    max-width: 100%;
    height: 300px;
}

@media screen and (max-width: 768px) {
     
    .contacts__content {
    flex-direction: column;
    margin-bottom: 30px;
    }
    .contacts__item__title, .contacts__item__text  {
    text-align: left;
     
    }
    .contacts__list {
        width: 100%;
        margin-bottom: 20px;
    }
     .item__link {
  text-align: center;
     }
    }